@font-face {
  font-family: "Cuprum-Regular";
  src: url('../fonts/web/cuprum.woff2');
  font-weight: 300;
}

@font-face {
  font-family: "Cuprum-Bold";
  src: url('../fonts/web/cuprumbold.woff2');
  font-weight: 700;
}

@font-face {
  font-family: "Cuprum-Bold-Italic";
  src: url('../fonts/web/cuprumbolditalic.woff2');
  font-weight: 700;
}

@font-face {
  font-family: "Cuprum-Italic";
  src: url('../fonts/web/cuprumitalic.woff2');
  font-weight: 300;
}

@font-face {
  font-family: "PTSans";
  src: url('../fonts/web/ptsans.woff2');
  font-weight: 300;
}

@font-face {
  font-family: "PTSans-Bold";
  src: url('../fonts/web/ptsansbold.woff2');
  font-weight: 700;
}

body {
 margin: 0;
 padding: 0;

 font-family: "Cuprum-Regular", Arial, sans-serif;
 font-size: 17px;
 line-height: 18px;
 color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;

  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.top-menu {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.main-logo {
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

.main-logo:hover,
.main-logo:focus {
  background-color: #ca2c37;
}

.main-logo:active {
  background-color: #ba2732;
}

.search-form input {
  font: inherit;
  border: none;
  color: #ffffff;

  background-color: #293449;

  border: none;
}

.search-form input:hover,
.bookmark:hover,
.basket:hover,
.bookmark:focus,
.basket:focus {
  background-color: #212a3a;
}

.search-form input:focus {
  color: #000000;

  background-color: #ffffff;
}

.bookmark,
.basket,
.checkout {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.checkout {
  background-color: #63a63e;
}

.bookmark:active,
.basket:active {
  background-color: #161d29;
}

.bookmark:focus,
.basket:focus {
  background-color: #293449;
}

.checkout:hover,
.checkout:focus {
  background-color: #5fbb2d;
}

.checkout:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.middle-menu,
.main-navigation {
  background-color: #f3f7f9;
}

.middle-menu h1 {
  font-family: "Cuprum-Italic";
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.phone-address a {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: 3px solid #ffffff;
}

.phone-address address {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.sign-in,
.registration {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.sign-in:hover,
.sign-in:focus,
.registration:hover,
.registration:focus {
  color: #ee3643;
}

.sign-in:active,
.registration:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation {
  list-style: none;

  background-color: #32425c;
}

.site-navigation-item a{
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.promo-item h3{
  font-family: "Cuprum-Bold";
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.promo-button {
  background-color: #e5e5e5;
}

.promo-button:hover,
.promo-button:focus {
  background-color: #cccccc;
}

.promo-button:active {
  background-color: #b2b2b2;
}

.materials {
  background-color: #f6b22d;
}

.instruments {
  background-color: #3bbce3;
}

.technics {
  background-color: #dc91d8;
}

.discounts {
  background-color: #8ed78f;
}

.promo-item.delivery {
  background-color: #ffc047;
}

.slider-list {
  list-style: none;
}

.slider-item {
  background-color: #3d2824;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.slider-item:last-child {
  background-image: url(../img/slider-1-background.png);
}

.slider-item:first-child {
  background-image: url(../img/slider-2-background.png);
}

.slider-item h3 {
  font-family: "Cuprum-Bold";
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}

.slider-item p {
  font-size: 18px;
  line-height: 24px;
  color: hsl(0, 0%, 100%);
}

.popular-header {
  background-color: #f9f5f0;
}

.popular-header h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  border: 1px solid #e5e5e5;
}

.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.buy-item,
.add-bookmark {
  border-radius: 3px;
}

.buy-item {
  color: #ffffff;

  background-color: #63a63e;
}

.buy-item:hover,
.buy-item:focus {
  background-color: #5fbb2d;
}

.buy-item:active {
  background-color: #518534;
}

.add-bookmark {
  color: #32425c;

  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.add-bookmark:hover,
.add-bookmark:focus {
  background-color: #ffffff;
  border: 3px solid #32425c;
}

.add-bookmark:active {
  color: rgba(50, 66, 92, 0.3);
  background-color: #ffffff;
  border: 3px solid rgba(50, 66, 92, 0.3);
}

.catalog-item h3 {
  font-family: "PTSans-Bold";
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.catalog-list .old-price {
  font-family: "PTSans-Bold";
  text-align: center;
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-transform: uppercase;
  text-decoration: line-through;
}

.catalog-item .item-price {
  font-family: "PTSans-Bold";
  text-align: center;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border-radius: 3px;
}

.manufacturer-list {
  list-style: none;
}

.manufacturer-item a {
  border: 1px solid #e5e5e5;
}

.manufacturer-item a:hover,
.manufacturer-item a:focus {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.manufacturer-item a:active {
  background-color: rgba(255, 255, 255 0.3);
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}

.manufacturer-item a:active {
  opacity: 0.3;
}

.services {
  background-color: #f4f8f9;
}

.services h2 {
  font-family: "Cuprum-Regular";
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

.services p {
  font-family: "PTSans";
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}
